.my-orders-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: #FFFFFF;
    z-index: 2000;
    display: flex;
    flex-direction: column;
}

.my-orders-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #F0F0F0;
    flex-shrink: 0;
}

.header-back-btn {
    position: absolute;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.header-title-text {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.my-orders-content {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
    background: #FFFFFF;
}

.date-section-title {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 16px;
}

.order-card-container {
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 16px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);

}

.order-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
}

.order-info-group {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.order-number {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.order-time {
    font-family: 'Geist', sans-serif;
    font-size: 13px;
    color: #7E7E7E;
}

.status-badge {
    width: auto;
    height: 29px;
    padding: 10px;
    background: #000000;
    color: white;
    border-radius: 100px;
    border: none;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.status-badge.waiting {
    background: #ffffff;
    color: #000000;
    border: 1px solid #D9D9D9;
}

.status-badge.annotated {
    background: #E8F5E9;
    color: #2E7D32;
    border: 1px solid #C8E6C9;
}

.status-badge.completed {
    background: #008149;
    color: #FFFFFF;
    border: none;
}

.order-divider {
    height: 1px;
    background: #D9D9D9;
    width: 100%;
    margin: 0 0 16px 0;
}

.order-summary-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.summary-item {
    display: flex;
    gap: 12px;
    align-items: center;
}

.qty-circle {
    width: 20px;
    height: 20px;
    background: #F5F5F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Geist', sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #000000;
    flex-shrink: 0;
}

.item-name-summary {
    font-family: 'Geist', sans-serif;
    font-size: 14px;
    color: #7E7E7E;
}

.btn-reorder {
    width: auto;
    height: 29px;
    padding: 10px;
    background: #ffffff;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    border: 1px solid #ffffff;
    border-radius: 100px;
}